<% 
	var lean = theme.leancloud_count; 
%>
<% if( lean.enable && lean.topN_post.enable){ %>
   
	<div id="topN">
		<div class="topN-title" data-title= "<%= __('popular_post') %>"></div> 
	</div>
	
    <script>
        var limitCount = <%= lean.topN_post.limit %>;
        if( $('#topN').length ){
            setTimeout(function() {
                topNPost(limitCount);
			}, 3000);
        }
    </script>
   
<% } %>