/*--------------------------------------------------*/
// Sink effect - 首字下沉
/*--------------------------------------------------*/

.first-letter-sink {
	float: left; 
    font-size: 3rem; 
    padding-right: 1rem; 
    padding-top: 1rem; 
	line-height: 2rem; 
    text-transform: uppercase;
}

.first-letter-mark {
    border-radius: 50%;
    background: #555;
    color: #FFF;
    padding: 8px;
}