<!-- This is only a demo, please go to "https://time.is" to set your city time! -->
<style type="text/css">
	.header-date {
		position: absolute;
		left: 40px;
		bottom: 30px;
		writing-mode: tb-rl;
		font-size: 36px;
	}	
	.header-date a {
		border-bottom: none;
	}
	@media only screen and (max-width: 768 ) {
		.header-date {
			position: absolute;
			left: 40px;
			bottom: 30px;
			writing-mode: tb-rl;
			font-size: 20px;
		}			
	}
</style>
<div class="header-date">
	<a href="https://time.is/Beijing" id="time_is_link" rel="nofollow" ></a>
	<span id="Beijing_z43d"></span>
</div>
<script src="//widget.time.is/zh.js"></script>
<script>
	time_is_widget.init({
		Beijing_z43d:{
			template:"DATE", 
			date_format:"year年 monthname dnum日"
		}
	});
</script>