<% if('theme.totop.enable') { %>
	<div id="totop">
  		<a href="javascript:;"  name="TOTOP" class="fa fa-arrow-up" ></a>
	</div>
	<div id="tobuttom">
		<a href="javascript:;"  name="TOBUTTOM" class="fa fa-arrow-down" ></a>
	</div>
<% } %>