<style>
	.clear-left {
		padding-left: 0;
	}
	
	.clear-right {
		padding-right: 0;
	}
</style>
<form class="am-form am-g">
	<fieldset>
		<div class="am-form-group am-u-sm-4 clear-left">
			<input type="text" class="" placeholder="name">
		</div>
		<div class="am-form-group am-u-sm-4">
			<input type="email" class="" placeholder="email">
		</div>
		<div class="am-form-group am-u-sm-4 clear-right">
			<input type="text" class="" placeholder="blog">
		</div>

		<div class="am-form-group">
			<textarea class="" rows="5" placeholder="just go go"></textarea>
		</div>

		<p><button type="submit" class="am-btn am-btn-default">发表评论</button></p>
	</fieldset>
</form>