<% if(theme.code_copy.enable && !config.highlight.enable){ %>
<script>
	//Refer to https://xinyo.org/archives/66226, thanks xinyo!
	function codeCopy() {
		var copyContainerId = 'copy-nav';
						
		$("pre").before(" <nav class=' " + copyContainerId + " '><i class='code-language'></i></nav> ");
		
		$('.' + copyContainerId).append("<i class='fa fa-clipboard copy-btn' aria-hidden='true'></i>");
		
		$('#article-content').find('pre').each( function () {
			var language = $(this).children('code').attr('class').substr(9);//why 9? Need to check language?
			$(this).prev().find('.code-language').text( language );	
		});
				
		//为复制按钮添加click事件
		$('.copy-btn').on("click", function() {
			//初始化
			$("textarea").remove("#targetId");
			
			//获取对应的代码
			var codePre = $(this).parent().next(),
				codeText = codePre[0].textContent,
				target = document.createElement("textarea");
			target.style.position = "absolute";
			target.style.left = "-9999px";
			target.style.top = "0";
			target.id = "targetId";
			codePre.append(target);
			target.textContent = codeText;

			//选中textarea内的代码
			target.focus();
			target.setSelectionRange(0, target.value.length);

			// 复制选中的内容
			document.execCommand("copy");
			
			//删除添加的节点
			$("textarea").remove("#targetId");
			
			var thisCopied = $(this);
			thisCopied.addClass('copy-status');	
			setTimeout( function() {
				thisCopied.removeClass('copy-status');
			}, 2000)
		});	
	}
	
	if( $('.layout-post').length )	{
		codeCopy();
	}
</script>
<% } %>