/* 
 * Base - 基础 
 */

html,
body,
div,
main,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
span,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

header,
nav,
footer,
main,
section,
aside,
article,
figure {
	display: block;
}

html {
	font-size: 16px;
}

body {
	/*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;*/
	font-family: Ovo, Georgia, STZhongsong, "Microsoft YaHei", serif;
	font-size: 1rem;
	font-weight: normal;
	color: #555;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*
		word-spacing: 1px;
		letter-spacing: 1px;
		word-wrap: break-word;//针对单词本身换行做处理
		word-break: break-all;//针对句子本身换行做处理
	*/
}

.html-loading {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

p {
	text-align: justify;
	margin-bottom: 1rem;
}

p:first-letter {
	text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 1rem;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 1rem;
}

hr {
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 1rem;
}

blockquote {
	quotes: none;
	border-left: 4px solid #e0e0e0;
	background: #f5f5f5;
	margin-bottom: 1rem;
	padding: 0.5rem 0.5rem 0.5rem 2rem;
}

blockquote p{
	margin-bottom: 0;
}

blockquote footer{
    font-family: inherit;
  	font-size: inherit;
	line-height: inherit;
    text-align: inherit;
    color: inherit; 
    background-color: inherit; 
    padding: 0;
}

b,
strong {
	font-weight: bold;
}

em,
cite,
q {
	font-style: italic;
	quotes: auto;
}

sup,
sub {
	position: relative;
	font-size: 0.75rem;
}

sup {
	top: -0.5rem
}

sub {
	bottom: -0.2rem
}

small {
	font-size: 12px;
}

acronym,
abbr {
	border-bottom: 1px dotted #e0e0e0;
}

a {
	transition: color 0.3s ease-in-out, background-color 0.2s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
	border-bottom: 0px dotted #e0e0e0;
	text-decoration: none;
	color: #555;
}

a:hover {
	border-bottom-color: transparent;
	/*color: #009688;*/
}

ul,
ol,
dl {
	margin-bottom: 1rem;
}

ul {
	list-style: disc;
	list-style-position: inside;
}

ol {
	list-style: decimal-leading-zero;
	list-style-position: inside;
}

dt {
	font-weight: bold;
}

table {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	/*min-width: 100;*/
	margin-bottom: 1rem;
}

thead tr {
	border: 1px solid #e0e0e0;
	background: #f5f5f5;
	font-weight: bold;
}

tbody tr {
	border: 1px solid #e0e0e0;
}

tbody tr:nth-child(2n) {
	background: #f5f5f5;
}

th,
td {
	padding: 0.25rem 0.5rem;
	border: 1px solid #e0e0e0;
	/*min-width: 60px;*/
}

img,
video,
audio {
	display: block;
	opacity: 1;
	max-width: 100%;
	width: 100%;
	height: auto;
	cursor: pointer;
}

code {
	font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
	font-size: 1rem;
	padding: 2px 4px;
	color: #555;
	background: #eee;
	border-radius: 3px;
}

pre {
	-webkit-overflow-scrolling: touch;
	font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
	font-size: 1rem;
	padding: 2px 4px;
	margin-bottom: 1rem;
}

pre code {
	display: block;
	padding: 1rem 1.5rem;
	overflow-x: auto;
}

img,
video {
	display: block;
	opacity: 1;
	max-width: 100%;
	width: 100%;
	height: auto;
	cursor: pointer;
	margin-bottom: 1rem;
}


/*http://webdesignerwall.com/tutorials/css-elastic-videos*/

.video-container {
	position: relative;
	padding-top: cal( 9 / 16) rem;
	/* 16:9 ratio*/
	margin-bottom: 1rem;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin-top: 0;
}

iframe {
	border: none;
	margin-bottom: 1rem;
}

blockquote.colorquote {
	position: relative
}

blockquote.colorquote:before {
	content: " ";
	position: absolute;
	top: 50%;
	left: -14.5px;
	margin-top: -12px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	background-size: 16px 16px;
	background-position: 4px 4px;
	background-repeat: no-repeat
}

blockquote.colorquote.info {
	border-color: #209cee;
	background-color: #def0fd;
}

blockquote.colorquote.info:before {
	background-color: #209cee;
	background-image: url(/img/quote/info.svg)
}

blockquote.colorquote.success {
	border-color: #23d160;
	background-color: #cbf6da
}

blockquote.colorquote.success:before {
	background-color: #23d160;
	background-image: url(/img/quote/success.svg)
}

blockquote.colorquote.warning {
	border-color: #ffdd57;
	background-color: #fff6d1
}

blockquote.colorquote.warning:before {
	background-color: #ffdd57;
	background-image: url(/img/quote/warning.svg)
}

blockquote.colorquote.danger {
	border-color: #ff3860;
	background-color: #ffb3c2
}

blockquote.colorquote.danger:before {
	background-color: #ff3860;
	background-image: url(/img/quote/danger.svg)
}

blockquote.pullquote {
	float: right;
	max-width: 50%;
	font-size: 1.15rem;
	position: relative
}

@media screen and (max-width: 768px) {
	blockquote.pullquote {
		float: none;
		max-width: 100%
	}
}

blockquote.pullquote:before {
	content: " ";
	position: absolute;
	top: 5px;
	left: 5px;
	width: 3rem;
	height: 3rem;
	opacity: .1;
	background: url(/img/quote/quote-left.svg) 0 0/3rem 3rem no-repeat
}

blockquote footer cite {
	font-style: normal
}

blockquote footer cite:before {
	content: "—";
	padding: 0 .3em
}

.caption {
	display: block;
	position: relative;
	font-size: 0.9rem;
	text-align: center;
}


/* 
 * BrowserScrollbar - 浏览器滚动条
 * Hide the scrollbar of browser which is based on webkit. 
 */

.scrollbar::-webkit-scrollbar {
	width: 0px;
}

.scrollbar::-webkit-scrollbar-track-piece {
	background-color: #fff;
}

.scrollbar::-webkit-scrollbar-track {
	background-color: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: #d4d8e2;
}

.scrollbar::-webkit-scrollbar-button {
	background-color: #fff;
	display: none;
}


/* 
 * Preloader - 预加载
 */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background-color: #f5f5f5;
	z-index: 1000;
}

.pre-container {
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.spinner {
	width: 40px;
	height: 40px;
	position: relative;
	margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #222;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
	0%,
	100% {
		-webkit-transform: scale(0.0)
	}
	50% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

.transition {
	margin: auto;
	width: 100px;
	text-align: center;
}

.transition>div {
	width: 20px;
	height: 20px;
	background-color: #222;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 2s infinite ease-in-out;
	animation: bouncedelay 2s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.transition .three-bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.transition .three-bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0.0)
	}
	40% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	40% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

.cyclic {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	position: relative;
}

.cyclic div {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-animation: load 2s linear infinite;
	animation: load 2s linear infinite;
}

.cyclic span {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #222;
	position: absolute;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
}

@-webkit-keyframes load {
	0% {
		-webkit-transform: rotate(0deg);
	}
	10% {
		-webkit-transform: rotate(45deg);
	}
	50% {
		opacity: 1;
		-webkit-transform: rotate(160deg);
	}
	62% {
		opacity: 0;
	}
	65% {
		opacity: 0;
		-webkit-transform: rotate(200deg);
	}
	90% {
		-webkit-transform: rotate(340deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

.cyclic div:nth-child(1) {
	-webkit-animation-delay: 0.2s;
}

.cyclic div:nth-child(2) {
	-webkit-animation-delay: 0.4s;
}

.cyclic div:nth-child(3) {
	-webkit-animation-delay: 0.6s;
}

.cyclic div:nth-child(4) {
	-webkit-animation-delay: 0.8s;
}


/* 
 * Header - 页头 
 */

.fixbackground {
	/* header Background parallax */
	background-attachment: fixed;
}

header {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(/img/pure-bg.png) repeat;
	background-size: cover;
	-webkit-animation-name: headerFade;
	animation-name: headerFade;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

@-webkit-keyframes headerFade {
	0% {
		opacity: 1
	}
	16% {
		opacity: 1
	}
	20% {
		opacity: 1
	}
	22% {
		opacity: 0
	}
	92% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes headerFade {
	0% {
		opacity: 1
	}
	16% {
		opacity: 1
	}
	20% {
		opacity: 1
	}
	22% {
		opacity: 0
	}
	92% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

header .mask {
	width: 100%;
	height: 100vh;
	/*遮罩效果*/
	background-color: rgba(0, 0, 0, 0.08);
}

header .h-header {
	position: relative;
	height: 10rem;
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
	font-size: 1.4rem;
	line-height: 3;
}

header #logo {
	float: left;
	padding-left: 1rem;
}

header #logo a {
	border-bottom: none;
	text-transform: uppercase;
}

header #logo a:hover {
	color: darkgoldenrod;
}

header #logo img {
	max-width: 10rem;
	max-height: 10rem;
}

header #navigation-show {
	float: right;
	padding-right: 1rem;
}

header #navigation-show ul {
	list-style: none;
}

header #navigation-show ul li {
	display: inline-block;
	margin-left: 10px;
}

header #navigation-show ul li a {
	opacity: 1;
	border-bottom: none;
}

header #navigation-show ul li a:hover {
	color: darkgoldenrod;
}

header #navigation-show ul li .active {
	border-bottom: 1px dotted #e0e0e0;
	color: darkgoldenrod;
	font-weight: bold;
	font-style: italic;
	padding-bottom: 2px;
}

header .h-body {
	text-align: center;
	width: 100%;
	position: relative;
	clear: both;
}

header .motto {
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
	font-size: 1.4rem;
	line-height: 2;
	text-align: center;
	width: 60%;
	margin: 8rem auto;
}

header .motto .content {
	text-align: left;
}

header .motto .author {
	text-align: right;
}

header .h-footer {
	width: 100%;
	text-align: center;
}

header .h-footer a {
	font-size: 2rem;
	/*color: #fff;*/
	border-bottom: none;
	position: absolute;
	bottom: 5px;
}


/* 
 * Progressbar - 进度条 
 */

#navigation-hide {
	display: none;
	position: fixed;
	top: -50px;
	left: 0;
	right: 0;
	width: 100%;
	height: 50px;
	background-color: #fff;
	border-bottom: 1px solid #f5f5f5;
	-webkit-transition: top .25s ease .5s;
	transition: top .25s ease .5s;
	z-index: 200;
	line-height: 50px;
}

#navigation-hide p {
	text-align: center;
	display: none;
}

#progress-percentage {
	position: fixed;
	top: 0;
	left: 20px;
}

#progress-percentage h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 1rem;
}

#progress-bar {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 0;
	height: 2px;
	background: #000;
}

.toc-switch {
	position: fixed;
	top: 0;
	left: 80px;
}

.toc-switch span {
	font-size: 1rem;
	cursor: pointer;
}

.toc-switch-button-active {
	color: #f70;
}

.show {
	display: block;
}

.hide {
	display: none;
}

@media screen and (max-width: 1024px) {
	.toc-switch {
		display: none;
	}
}


/* 
 * footer - 页脚 
 * 
 */

footer {
	/*font-family: Georgia, Times New Roman, Times, serif;*/
	font-size: 1rem;
	line-height: 2;
	text-align: center;
	color: #fff;
	background-color: #222;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

footer a {
	color: #fff;
	text-decoration: none;
	border-bottom: none;
}

footer a:hover {
	color: darkgoldenrod;
}

footer .social li {
	display: inline-block;
}

footer .social li a {
	padding: 10px;
}

footer .copyright p {
	text-align: center;
	letter-spacing: 1px;
	word-spacing: 1px;
}


/* Totop - 回到顶部  */

#totop {
	position: fixed;
	right: 16px;
	bottom: 80px;
	z-index: 5;
	background: white;
	border-radius: 50%;
	cursor: pointer;
}

#tobuttom {
	position: fixed;
	right: 16px;
	bottom: 40px;
	display: none;
	z-index: 5;
	background: white;
	border-radius: 50%;
	cursor: pointer;
}

#tobuttom a,
#totop a {
	color: #222;
	background-color: transparent;
	padding: 10px;
	border: none;
}

@media (max-width: 768px) {
	#tobuttom a,
	#totop a {
		display: none;
	}
}


/* Index - 主页 */

main {
	width: 100%;
	min-height: calc(100vh + 100px);
	line-height: 2;
}

.layout-cart {
	position: relative;
	margin: 0em auto;
	padding: 5em 0;
}

.layout-cart .post {
	position: relative;
	margin: 50px auto;
	width: 1200px;
}

.layout-cart .post a {
	border-bottom: none;
}

.layout-cart .post>a {
	position: relative;
	width: 680px;
	height: 440px;
	display: inline-block;
	overflow: hidden;
	background: #fff;
	z-index: 2;
}

.layout-cart .post>a img {
	width: 100%;
	height: 100%;
	position: relative;
}

.layout-cart .post-cover {
	overflow: hidden;
}

.layout-cart .post-text {
	position: absolute;
	top: 20px;
	height: 398px;
	width: 498px;
	border: 1px solid #e0e0e0;
	background: #fff;
	text-align: left;
}

.layout-cart .post:nth-child(odd) {
	text-align: left;
}

.layout-cart .post:nth-child(even) {
	text-align: right;
}

.layout-cart .post:nth-child(odd) .post-text {
	left: 660px;
}

.layout-cart .post:nth-child(even) .post-text {
	right: 660px;
}

.layout-cart .post-text .post-time {
	color: #999;
	font-size: 12px;
	margin: 80px 0 0 80px;
}

.layout-cart .post-text .post-title {
	/*font-family: Georgia, Times New Roman, Times, serif;*/
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.5;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 10px 100px 0 80px;
}

.layout-cart .post-text .post-title a {
	color: #222;
}

.layout-cart .post-text .post-content {
	text-align: justify;
	line-height: 2;
	color: #555;
	word-spacing: 2px;
	letter-spacing: 0px;
	word-break: break-word;
	margin: 10px 100px 0 80px;
}

.layout-cart .post-text .post-meta {
	position: absolute;
	left: 80px;
	bottom: 60px;
	font-size: 12px;
	color: #999;
}

.layout-cart .post-text .post-meta span {
	margin-right: 16px;
}

.layout-pure {
	/*For people who likes pure style*/
	width: 60%;
	height: auto;
	margin: 0em auto;
	padding: 5em 0;
}

.layout-pure .post {
	width: 100%;
	margin-bottom: 3.5em;
	display: flex;
	justify-content: center;
}

.layout-pure .post a {
	border-bottom: none;
}

.layout-pure .post>.post-text {
	width: 100%;
	opacity: 1;
	padding: 0;
	margin: 0;
	display: block;
	border-bottom: 1px solid #e0e0e0;
}

.layout-pure .post .post-text .post-title {
	/*font-family: Georgia, Times New Roman, Times, serif;*/
	font-size: 1.5rem;
	line-height: 1.5;
	text-align: left;
	min-height: 20px;
	margin: 0 0 0.1em 0;
	padding: 0 0 0.1em 0;
}

.layout-pure .post .post-text .post-title a {
	border-bottom: 0px;
}

.layout-pure .post .post-text .post-content {
	text-align: justify;
	line-height: 2;
	word-spacing: 2px;
	word-break: break-word;
}

.layout-pure .post .post-text .post-meta {
	min-height: 20px;
	padding: 0;
	margin: 10px 0;
	color: #999;
}

.layout-pure .post .post-text .post-meta a {
	color: #999;
}

.layout-pure .post .post-text .post-meta span {
	margin-right: 16px;
}

.layout-pure .post .post-text .post-meta span>i {
	color: #999;
}

.layout-pure .post .post-text .post-meta .right {
	float: right;
}

#pagination {
	/*Load more posts*/
	text-align: center;
	margin-top: 5em;
	min-height: 50px;
}

#pagination a {
	font-size: 1rem;
	color: #555;
	text-align: center;
	letter-spacing: 2px;
	transition: none;
	border-bottom: none;
	display: inline-block;
	cursor: pointer;
}

#pagination a:hover {
	color: #4183C4;
}

.pagination-2 {
	display: block;
	list-style: none;
	padding: 2em 0 0.5em;
}

.pagination-2 li {
	display: inline-block;
}

.pagination-2 li a {
	border-bottom: 0px dotted #e0e0e0;
}

.pagination-2 li a:hover {
	border-bottom: 1px dotted #e0e0e0;
}

.pagination-2-prev {
	float: left;
}

.pagination-2-next {
	float: right;
}


/* gallery - 相册 */

.layout-gallery {
	width: 96%;
	margin: 0em auto;
	padding: 4em 0;
	border: 1px solid transparent;
	background-color: #fff;
}

.natural-gallery,
.my-gallery {
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
}


/*Animation - 动画*/

.annie-animation-zoom {
	/*For one div: Zoom from 0 to 1!*/
	display: none;
	-webkit-animation: zoom 0.8s;
	animation: zoom 0.8s;
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0)
	}
	to {
		-webkit-transform: scale(1)
	}
}

@keyframes zoom {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}


/* others */

.body-fixed {
	overflow: hidden;
}