/* Post - 文章 */

.layout-post {
	width: 60%;
	margin: 0em auto;
	padding: 5em 0;
	border: 1px solid transparent;
	background-color: #fff;
}

#layout-post {
	/*font-family: Ovo,Georgia,STZhongsong,"Microsoft YaHei",serif;*/
	font-size: 1rem;
	line-height: 2;
}

.article-title {
	font-size: 2rem;
	color: #333;
}

.article-title a {
	border-bottom: 0;
}

.article-meta {
	color: #999;
	margin: 1em 0 2em;
}

.article-meta a {
	border-bottom: 0;
	color: #999;
}

.article-meta span {
	padding: 0.4em;
}

.article-content a {
	color: #4183C4;
}

.article-content a:hover {
	border-bottomc: 1px dashed #4183C4;
}

.article-content>table {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	min-width: 100%;
	margin-bottom: 1rem;
}

.article-content>table thead tr {
	border: 1px solid #e0e0e0;
	background: #f5f5f5;
	font-weight: bold;
}

.article-content>table tbody tr {
	border: 1px solid #e0e0e0;
}

.article-content>table tbody tr:nth-child(2n) {
	background: #f5f5f5;
}

.article-content>table th,
.article-content>table td {
	padding: 0.25rem 0.5rem;
	min-width: 60px;
	border: 1px solid #e0e0e0;
}


/* Tab - 切换*/

.investment-container {
	width: 100%;
	margin: 6em auto 2em;
}

.investment-container .investment-header {
	display: flex;
	justify-content: center;
	margin: 0.5em auto;
}

.investment-container .investment-header .investment-title-1 {
	height: auto;
	width: 50%;
	overflow: hidden;
}

.investment-container .investment-header .investment-title-2 {
	height: auto;
	width: 50%;
	overflow: hidden;
}

.investment-title-1 div {
	width: auto;
	height: auto;
	color: #555;
	float: left;
	margin-right: 6px;
	margin-left: 1px;
	text-align: center;
	cursor: pointer;
}

.investment-title-2>span {
	width: auto;
	height: auto;
	color: #555;
	float: right;
	margin-right: 1px;
	margin-left: 6px;
	text-align: center;
	cursor: pointer;
}

.investment-title-2>span a {
	margin: 0 4px;
}

.investment-title-1 a,
.investment-title-1 a:link,
.investment-title-1 a:visited,
.investment-title-1 a:hover {
	color: #555;
	width: 131px;
	height: auto;
	display: inline-block;
}

.investment-title-1 div.on a,
.investment-title-1 div.on a:link,
.investment-title-1 div.on a:visited,
.investment-title-1 div.on a:hover {
	color: #f70;
}

.investment-title-1 div.on {
	color: #f70;
}

.investment-content {
	clear: both;
	border-top: 1px solid #ededed;
	padding: 0;
	min-height: 500px;
}

.investment-content-list {
	display: none;
	-webkit-animation: zoom 0.8s;
	animation: zoom 0.8s;
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0)
	}
	to {
		-webkit-transform: scale(1)
	}
}

@keyframes zoom {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}


/* Related post - 相关文章*/

.relate-post {
	/*font-family: inherit;*/
	/*line-height: 2;*/
	font-size: 1rem;
}

.relate-post ul {
	width: 100%;
	margin: 0 auto;
	padding: 2px;
}

.relate-post ul:first-child {
	margin-top: 4px;
}

.relate-post ul li {
	display: inline-table;
	width: 100%;
	margin-bottom: 2px;
	padding: 0.5em 0;
	border-bottom: 1px solid #e8e8e8;
	clear: both;
}

.relate-post .relate-post-text {
	display: inline-block;
	width: 70%;
	vertical-align: top;
	clear: right;
}

.relate-post .relate-post-text p {
	margin-bottom: 0;
}

.relate-post .relate-post-text .relate-post-title {
	font-size: 1.3rem;
}

.relate-post .relate-post-text .relate-post-date {
	font-size: 0.8rem;
}

.relate-post .relate-post-text .relate-post-content {
	font-size: 1rem;
}

.relate-post .relate-post-cover {
	display: inline-block;
	width: 27%;
	vertical-align: top;
	float: right;
	overflow: hidden;
}

.relate-post .relate-post-cover img {
	margin-bottom: 0;
	position: relative;
}


/* like - 点赞 */

.layout-pure .leancloud_likes,
.layout-cart .leancloud_likes,
.layout-post .leancloud_likes {
	cursor: pointer;
}

.layout-post .leancloud_likes:hover,
.layout-post .leancloud_likes:focus {
	color: red;
}

.heartAnimation {
	color: red;
}