.layout-comment {
	line-height: inherit;
	margin-top: 1em;
}

.layout-comment a{
	border-bottom: none;
}

/* gitalk details */

.gt-container .gt-header-comment {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-left: 0;
}

.gt-container .gt-header-textarea {
    min-height: 8.125em;
    max-height: 15em;
}

.gt-container .gt-avatar-github {
	display: none;
}

.gt-container .gt-no-init {
	padding: 1.25em 0;
	text-align: center;
}

.gt-container .gt-no-init>p {
	text-align: center;
}

.gt-container .gt-meta {
	margin: 0 0;
	padding: 1em 0;
	position: relative;
	border-bottom: 0px solid #e9e9e9;
	font-size: 1em;
	z-index: 0;
}

.gt-container .gt-popup .gt-action.is--active:before {
	content: '';
	width: 0.25em;
	height: 0.25em;
	background: #6190e8;
	position: absolute;
	left: 0.5em;
	top: 1.2375em;
}


/* vline details */

.valine .vwrap {
	overflow: hidden;
	position: relative;
	border: 1px solid #ededed;
	cursor: pointer;
}

.valine img {
	display: inline-block;
}

.valine .vlist .vcard .vfooter .vat {
	background: transparent;
	color: #ffffff;
	padding: .2em 1em;
	line-height: 1.6;
	cursor: pointer;
	word-break: keep-all;
	text-transform: uppercase;
	display: inline-block;
	/*display: inline-block;  fix button ‘回复’ display on Firefox*/
}