/*--------------------------------------------------*/
// Totop - 回到顶部
/*--------------------------------------------------*/

#totop {
	position: fixed;
	right: 20px;
	bottom: 80px;
	z-index: $zindex-0;
	cursor: pointer;
	span {
		color: #555;
		font-size: 1.5rem;
	}
}