/*--------------------------------------------------*/
// Pagination - 分页
/*--------------------------------------------------*/ 

// 主页
#pagination {
	/*Load more posts*/
	text-align: center;
	margin-top: 5em;
	min-height: 50px;
	a {
		font-size: 1rem;
		text-align: center;
		letter-spacing: 2px;
		transition: none;
		border-bottom: none;
		display: inline-block;
	}
}

// 归档页
.pagination-2 {
	//post page or archive page
	display: block;
	list-style: none;
	padding: 2em 0 0.5em;
	.pagination-2 li {
		display: inline-block;
	}
	
	.pagination-2-prev {
		float: left;
	}
	
	.pagination-2-next {
		float: right;
	}
}