/*--------------------------------------------------*/
// BrowserScrollbar - 浏览器滚动条
/*--------------------------------------------------*/ 

// Hide the scrollbar of browser which is based on webkit. 
.scrollbar {
	&::-webkit-scrollbar {
		width: 0px;
	}
	&::-webkit-scrollbar-track-piece {
		background-color: #fff;
	}
	&::-webkit-scrollbar-track {
		background-color: #fff;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #d4d8e2;
	}
	&::-webkit-scrollbar-button {
		background-color: #fff;
		display: none;
	}
}