<!-- Chinese Version -->
<div class="about">
    <div class="content" id="about-header"> 
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div>
                    <img  src="/imgs/avatar.jpeg"  style="border-radius: 50%;"/>
                </div>
                <div class="text-center">
                     <h2>Dinghow</h2>
                    <p>Writing words,writing codes.</p>
                </div>
            </div>
        </div>
        <!--正文-->
        <div class="row" id="offer">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div class="person-info">
                    <h3 class="title"><span class="glyphicon glyphicon-user"></span> About Me </h3>
                    <div class="person-body">
                        <p>Tongji Univ SSE undergrad</p>
                        <p>V2EX: <a target="_blank" href="https://www.v2ex.com/member/dinghow">dinghow <span class="glyphicon glyphicon-link"></span></a></p>
                        <p>Music list:<a target="_blank" href="https://y.qq.com/w/taoge.html?id=2186874964">favorite <span class="glyphicon glyphicon-link"></span></a></p>
                        <p>Bangumi: <a target="_blank" href="http://bangumi.tv/user/413269"> Dinghow <span class="glyphicon glyphicon-link"></span> </a></p>
                        <p>Hobbies:Coding, Reading, Basketball ,Fitness ,Guitar ,Music ,ACG</p>
                        <p>Interest: ML ,DL ,DIP ,CV(But I'm just a beginner)</p>
                    </div>
                </div>
                <div class="contact-show">
                    <h3 class="title "> <span class="glyphicon glyphicon-earphone"></span> Contact Me </h3>
                    <div class="person-body">
                        <p>
                            telegram: <a target="_blank" href="https://telegram.me/dinghow9"> @dinghow9 <span class="glyphicon glyphicon-link"></span> </a></p>
                        </p>
                        <p>
                            E-mail: <a target="_blank" href="mailto:dinghowyang@gmail.com"> dinghowyang@gmail.com <span class="glyphicon glyphicon-link"></span> </a></p>
                        </p>
                    </div>                    
                </div>
            </div>
        </div></div>
</div>




