<div class="archive-item">

	<div class="archive-post-title">
		<%- partial('post/title',{post: post}) %>
	</div>

	<div class="archive-post-time">
		<%- partial('post/date', {class_name: 'archive-article-date', date_format: 'YYYY-MM-DD'}) %>
	</div>
	
</div>