<ul id="global-social">
	<% for(var i in theme.social) { %>
		<li>
			<a href="<%- url_for( theme.social[i].url ) %>" target="_blank">
				<%- theme.social[i].icon %>
			</a>
		</li>
	<% } %>		
</ul>
