<!--content start-->
<div class="layout-page">	
	<div class="layout-page-container">

		<%- partial('page-header') %>

		<% if (page.type === "tags") { %>

			<div class="tags">
				<%- 
					tagcloud({min_font: 16, max_font: 35, amount: 999, color: true, start_color: 'black',end_color: 'red'}) 
		        %>
			</div>

		<% } else if (page.type === "categories") { %>

			<div class="category">
				<%- 
					list_categories({show_count: true, order: 1}) 
				%>
			</div>

		<% } else { %>

			<div class="about">
				<%- page.content %>
			</div>

		<% } %>
	</div>

	<% if ((page.type === "tags") || (page.type === "categories")) { %>
		<!-- 
			ajax 查询相应标签or分类的文章 
			We can use "Content filtering plugin" to instead ajax!
		-->
		<div class="layout-TCP-container">
			<div id="TCP-title"></div>
			<div id="TCP-content"></div>
		</div>
	<% } %>
</div>
