<div class="layout-comment">

	<% if(theme.comment.enable) { %>

		<% if(theme.gitalk.enable) { %>

			<!-- comment gitalk -->
			<%- partial('comment/gitalk') %>

		<% } else if(theme.valine.enable && !theme.leancloud_count.enable) { %>

			<!-- comment valine -->
			<%- partial('comment/valine') %>

		<% } else if(theme.livere.enable) { %>
			
			<!-- comment valine -->
			<%- partial('comment/livere') %>
			
		<% } else { %>

			<!-- I don't know 【表情】-->
			
		<% } %>
		
	<% } %>

</div>