/*--------------------------------------------------*/
// About - 关于
/*--------------------------------------------------*/ 

.layout-about {
	width: 60%;
	margin: 0em auto;
	padding: 5em 0;
	border: 1px solid transparent;
	
	.about-content{
		margin-top: 2rem;
	}
}