/*--------------------------------------------------*/
// Archive - 归档
/*--------------------------------------------------*/ 

.layout-archive {
	width: 70%;
	margin: 0rem auto;
	padding: 4rem 0;
	border: 1px solid transparent;
	background-color: #fff;
	.i-tag {
		color: red;
		letter-spacing: 2px;
		margin: 60px 0;
	}
	a {
		border-bottom: 0px solid #e0e0e0;
	}
	.i-container {
		text-align: center;
	}	
}

#layout-archive-year {
	margin-top: 2rem;
	text-align: left;
	width: 100%;
	display: none;
	ul {
		list-style: none;
		padding-left: 0rem;
		transition: height 0.5s;
		padding: 0px;
		border: none;
		li {
			height: 44px;
			border-bottom: 1px dashed #e0e0e0;
			line-height: 44px;
			font-size: 1rem;
			padding-left: 0px;
			overflow: hidden;
			margin: 0px;
			&:hover{
				background: #f7f9fa;
				  em {
						font-style: normal;
						margin-right: 10px;
						line-height: 10px;
						margin-top: 10px;
						padding: 5px 8px;
						background: #F44336;
						color: #f7f9fa;
					}
			}
			em {
				font-style: normal;
				margin-right: 10px;
				line-height: 10px;
				margin-top: 10px;
				padding: 5px 8px;
				background: #eaeaea;
				color: #999;
			}
		}
	}
	h3 {
		cursor: pointer;
		text-align: center;
		background-color: #555;
		padding: 10px 0px;
		margin-top: 2rem;
		color: white;
		transition: all 0.5s;
		em {
			font-size: 0.5rem;
			position: absolute;
			margin-top: -10px;
		}
		&:hover {
			background-color: dimgray;
		}
	}
	a {
		background: none;
	}
	.title-bg {
		background-color: grey;
	}
}

#layout-archive-year {
	li {
		a {
			text-decoration: none;
			&:hover {
				color: red;
			}
		}
		.tag {
			font-style: normal;
			margin-right: 0px;
			line-height: 10px;
			margin-top: 10px;
			padding: 8px 8px;
			background: #eaeaea;
			color: #999999;
			float: right;
		}
	}
	
}

#layout-archive-month {
	margin-top: 0rem;
	text-align: left;
	max-width: 100%;
	ul {
		/*Archive by month*/
		list-style: none;
		padding-left: 0rem;
		transition: height 0.5s;
		padding: 0px;
		border: none;
		li {
			height: 44px;
			border-bottom: 1px dashed #e0e0e0;
			line-height: 44px;
			font-size: 1rem;
			padding-left: 0x;
			overflow: hidden;
			margin: 0px;
			&:hover {
				background: #f7f9fa;
				em {
					font-style: normal;
					margin-right: 10px;
					line-height: 10px;
					margin-top: 10px;
					padding: 5px 8px;
					background: #F44336;
					color: #f7f9fa;
				}
			}
			em {
				font-style: normal;
				margin-right: 10px;
				line-height: 10px;
				margin-top: 10px;
				padding: 5px 8px;
				background: #eaeaea;
				color: #999;
			}
		}
	}
	h3 {
		cursor: auto;
		text-align: center;
		background-color: #555;
		padding: 5px 0px;
		color: white;
		transition: all 0.5s;
		&:hover {
			background-color: dimgray;
		}
		&>a {
			color: white;
			border-bottom: 0px dotted lightgray;
		}
		em {
			font-size: 0.5rem;
			position: absolute;
			margin-top: -10px;
		}
	}
	a {
		background: none;
	}
	.title-bg {
		background-color: grey;
	}
}

#layout-archive-month {
	li {
		a {
			text-decoration: none;
			&:hover {
				color: red;
			}
		}
		.tag {
			font-style: normal;
			margin-right: 0px;
			line-height: 10px;
			margin-top: 10px;
			padding: 8px 8px;
			background: #eaeaea;
			color: #999999;
			float: right;
		}
	}
}