/*--------------------------------------------------*/
// Category - 分类 
/*--------------------------------------------------*/ 

.category {
	width: 100%;
	.category-list {
		width: 100%;
		overflow: overlay;
		padding: 0;
		text-align: center;
		li {
			font-size: 1rem;
			display: inline-flex;
			padding: 6px;
			margin-right: 10px;
			margin-bottom: 10px;
			&:hover {
				color: red;
			}
			
			.category-list-count {
				font-size: .9rem;
				margin-left: 2px;
			}
		}
		a {
			padding-bottom: 0.2em;
			&:hover {
				color: red;
				padding-bottom: 0.2em;
			}
		}
		
	}
}