/*--------------------------------------------------*/
// gallery - 相册
/*--------------------------------------------------*/

.layout-gallery {
	width: 96%;
	margin: 0em auto;
	padding: 4em 0;
	border: 1px solid transparent;
}