/*--------------------------------------------------*/
// Tag - 标签
/*--------------------------------------------------*/ 

.tags {
	width: 100%;
	text-align: center;
}

.tags a {
	margin-right: 10px;
	line-height: 2;
	display: inline-block;
}

.TCP-container {
	width: 100%;
	
	#TCP-title {
		width: 70%;
		text-align: left;
		padding: 5px;
		margin: 0em auto;
	}
	
	#TCP-content {
		min-height: 500px;
	}
}