<!-- show valine comment -->
<div id="valineComment" class="comment"></div>

<!-- valine`s js & css -->
<script src="//unpkg.com/valine/dist/Valine.min.js"></script>
<!--
	Valine.js其实有引用av.js的链接,所以不用再引入av.js,或者声明AV了,
-->
<link rel="stylesheet" href="/css/comment.css">
<script>
	/*
	使用valine请不要将valine的评论功能打开
	*/
	if( $('#valineComment').length ) {
		new Valine({
			//使用id寻找div元素（使用class可能找不到?）
			el: '#valineComment',
			emoticon_url: 'https://cloud.panjunwen.com/alu',
			emoticon_list: ["吐.png", "期待.png", "高兴.png", "吐血倒地.png", "哭泣.png", "欢呼.png"],
			app_id: "<%= theme.valine.appid %>", //获取APP ID
			app_key: "<%= theme.valine.appkey %>", //获取APP KEY
			placeholder: "<%= theme.valine.placeholder %>", //评论框占位提示文字        			
		});
	}
</script>		