/*--------------------------------------------------*/
// Footer - 页脚 
/*--------------------------------------------------*/ 

footer {
	font-family: $font-family-meta;
	font-size: 1rem;
	line-height: 2;
	color: #555;
	background-color: #222;
	padding-top: 2rem;
	padding-bottom: 1rem;
	.copyright{
		text-align: center;
		p {
			text-align: inherit;
			letter-spacing: 1px;
			word-spacing: 1px;
			margin: 0.2rem 0;
		}
	}
}