/*--------------------------------------------------*/
// Colors
/*--------------------------------------------------*/
$red-deep                    = #ff2121
$red-light                   = #db5a6b

$black                       = #000000
$black-deep                  = #222222
$black-light                 = #555555

$white                       = #ffffff

$blue-midle                  = #4183c4

$green-light                 = #5fb878 //selected 
$green-deep                  = #009688 //button

$orange-light                = #fff6d1;
$orange-deep                 = #f00;

$grey-light                  = #f0f0f0
$grey-midle                  = #eeeeee
$grey-deep                   = #dddddd

/*--------------------------------------------------*/
// Font
/*--------------------------------------------------*/
$font-family-base            = -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-chinese         = Ovo, Georgia, STZhongsong, "Microsoft YaHei", serif;
$font-family-posts           = $font-family-base;
$font-family-meta            = "Times New Roman", Times, serif;
$font-family-monospace       = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;

// Font Weight
$font-weight-light           = 200;
$font-weight-normal          = 400;
$font-weight-bold            = 600;

// Font size
$font-size-base              = 16px;

// Line height
$line-height-base            = 2;
$line-height-code-block      = 1.6;

/*--------------------------------------------------*/
// Others
/*--------------------------------------------------*/

// Z-index list
$zindex-0                    = 10
$zindex-1                    = 100
$zindex-2                    = 200;
$zindex-3                    = 300;
$zindex-4                    = 400;
$zindex-5                    = 500;
$zindex-6                    = 600;
$zindex-7                    = 700;
$zindex-8                    = 800;
$zindex-9                    = 900;
$zindex-10                   = 1000;

// Global text color for the tag of <body> 
$text-color                  = $black-light;
$body-bg-color               = $white;

// Global link color.
$link-color                  = $black-light;
$link-hover-color            = $blue-midle;
$link-decoration-color       = $blue-midle;
$link-decoration-hover-color = $blue-midle;

// Global border color.
$border-color                = $grey-deep;
$border-bg-color             = $grey-light;

// Selection
$selection-bg-color          = $black-light;
$selection-color             = $white;

$active-bg-color             = $orange-light;
$active-color                = $orange-deep;

// Table
$table-width                 = 100%;
$table-border-color          = $border-color;
$table-font-size             = 1rem;
$table-content-alignment     = left;
$table-content-vertical      = middle;
$table-th-font-weight        = $font-weight-bold;
$table-row-odd-bg-color      = $border-bg-color;

// Code & Code block
$code-font-family            = $font-family-monospace;
$code-border-radius          = 2px;
$code-foreground             = $black-light;
$code-background             = $grey-light;