<div class="layout-comment">

	<% if(theme.comment.enable) { %>

		<% if(theme.gitalk.enable) { %>

			<!-- gitalk comment -->
			<%- partial('comment/gitalk') %>

		<% } else if(theme.valine.enable && !theme.leancloud_count.enable) { %>

			<!-- valine comment -->
			<%- partial('comment/valine') %>

		<% } else if(theme.livere.enable) { %>
			
			<!-- livere comment -->
			<%- partial('comment/livere') %>
			
		<% } else { %>

			<!-- I don't know !!!-->
			<div class="config-info">
				Please check the parameter of <b>comment</b> in config.yml of hexo-theme-Annie!
			</div>
			
		<% } %>
		
	<% } else { %>
		<div class="config-info">
			Please check the parameter of <b>comment</b> in config.yml of hexo-theme-Annie!
		</div>	
	<% } %>

</div>