<div class="layout-share">
	
	<% if(theme.share.enable) { %>

		<% if(theme.addThis.enable) { %>

			<!-- addThis share -->
			<%- partial('share/addThis') %>

		<% } else if(theme.baiduShare.enable) { %>

			<!-- baiduShare share -->
			<%- partial('share/baidu-share') %>

		<% } else if(theme.shareThis.enable) { %>
			
			<!-- shareThis share -->
			<%- partial('share/shareThis') %>
			
		<%} else if(theme.socialShare.enable){%>
			
			<!-- socialShare share -->
			<%- partial('share/social-share') %>
			
		<% } else { %>

			<!-- I don't know !!!-->
			<div class="config-info">
				Please check the parameter of <b>share</b> in config.yml of hexo-theme-Annie!
			</div>
			
		<% } %>
		
	<% } else { %>
		<div class="config-info">
			Please check the parameter of <b>comment</b> in config.yml of hexo-theme-Annie!
		</div>	
	<% } %>
</div>

